    <div id="stepper">
        <div id="step1" class="step active">
            <span class="step-text">1</span>
        </div>
        <div class="step-description">Choisissez un modèle</div>

        <div class="connector"></div>
        <div id="step2" class="step">
            <span class="step-text">2</span>
        </div>
        <div class="step-description">Uploaddez votre logo</div>

        <div class="connector"></div>
        <div id="step3" class="step">
            <span class="step-text">3</span>
        </div>
        <div class="step-description">Paramétrez votre commande</div>
    </div>


    <div id="content">

      <div class="products" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 15px;">

        <%@catalog.each do |item| %>
          <div class="card">
            <div class="shirt-card">

                  <div class="shirt-image mx-4 mt-5">
                    <%= cl_image_tag item.photo.key, class: "face front" %>
                    <%= cl_image_tag item.photo.key, class: "face back" %>

                      <div class=" center_image" style="display: none;">
                          <span class="material-icons">done</span>
                      </div>
                  </div>

                  <div class="shirt-header">
                      <div class="shirt-infos">
                          <p class="pf_title_product">
                            <%= link_to item.name, new_catalog_order_path(item.id) %>
                          </p>
                      </div>
                  </div>
            </div>
          </div>

        <%end%>
      </div>
    </div>



    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }

      #stepper {
          background-color: #f4f4f4;
          padding: 20px;
          text-align: center;
          display: flex;
          justify-content: space-between;
          margin: 0 20px;
      }

      .step {
          width: 30px;
          height: 30px;
          background-color: #e0e0e0;
          border-radius: 50%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .step.active {
          background-color: green;
      }

      .step-text {
          color: white;
          font-size: 14px;
      }

      .step-description {
          margin-top: 5px;
          font-size: 12px;
      }

      .connector {
          height: 2px;
          background-color: #e0e0e0;
          width: 50%;
          align-self: center;
      }

      #content {
          padding: 20px;
      }



      .shirt-card .shirt-image{
        height: 140px;
        width: 140px;
        margin-bottom: 250px;
      }

      .shirt-header{
        text-align: center;
      }

      .card {
      perspective: 1000px;
      position: relative;
    }

    .shirt-card {
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }

    .card:hover .shirt-card {
      transform: rotateY(180deg);
    }

      .face {
      position: absolute;
      backface-visibility: hidden;
    }

    .front {
      background: url('front.png') center/cover;
    }

    .back {
      background: url('back.png') center/cover;
      transform: rotateY(180deg);
    }
  </style>
