
<div class="container">
    <div id="stepper" class="d-flex justify-content-center fixed-top">

        <div id="step1" class="step active">
            <span class="step-text"><i class="far fa-file-image"></i></span>
        </div>
        <div class="step-description">Choisissez un modèle</div>



        <div class="connector active"></div>
        <div id="step2" class="step">
            <span class="step-text"><i class="fas fa-upload"></i></span>
        </div>
        <div class="step-description">Uploaddez votre logo</div>


        <div class="connector"></div>
        <div id="step3" class="step">
            <span class="step-text"><i class="fas fa-cogs"></i></span>
        </div>
        <div class="step-description">Paramétrez votre commande</div>
    </div>


    <div class="products" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 15px;">

      <%@catalog.each do |item| %>
        <%#  raise %>

        <div class="card">
          <div class="card-inner">
            <div class="face front">
              <%= image_tag item.front_photo_url%>

            </div>
            <div class="face back">
              <%= image_tag item.back_photo_url%>
            </div>
          </div>
        </div>


      <%end%>
    </div>

</div>
