
/*---------------------------------------
  CUSTOM Colors ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #d72323;
  --secondary-color:              #EE5007;
  --section-bg-color-primary:     #ee5007;
  --section-bg-color-secondary:   #000;
  --custom-btn-bg-color:          #d72323;
  --success-color:                #008000;
  --custom-btn-bg-hover-color:    #ee5007;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #d72323;
  --link-hover-color:             #ee5007;


  --body-font-family:             'Outfit', sans-serif;

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --btn-font-size:                14px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}
