/*======================================
    Team CSS
========================================*/
.team .section-title {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .team .section-title {
    margin-bottom: 30px;
  }
}

.team .single-team {
  margin-top: 30px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
}

.team .single-team img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #eee;
}

.team .single-team .cont {
  padding: 40px 30px;
}

@media (max-width: 767px) {
  .team .single-team .cont {
    display: block;
    text-align: center;
    padding: 30px;
  }
}

.team .single-team .cont h4 {
  font-size: 16px;
  font-weight: 600;
}

.team .single-team .cont h4 span {
  color: #727272;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-family: DM Sans;
}

.team .single-team .cont .social {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 767px) {
  .team .single-team .cont .social {
    margin-top: 20px;
  }
}

.team .single-team .cont .social li {
  display: inline-block;
  margin-right: 20px;
}

.team .single-team .cont .social li a {
  font-size: 15px;
  color: #081828;
}

.team .single-team .cont .social li a:hover {
  border-color: transparent;
  color: #2ed06e;
}

.team .single-team .cont .social li:last-child {
  margin-right: 0;
}

.team .single-team:hover .social {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
