.shirt-card .shirt-image{
  height: 140px;
  width: 140px;
  margin-bottom: 250px;
  position: relative;
}

.shirt-header{
  text-align: center;
}

.card {
perspective: 1000px;
width: 300px;
height: 400px;
position: relative;
}

.card-inner {
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: transform 0.5s;
}

.card:hover .card-inner {
transform: rotateY(180deg);
}

.face {
width: 100%;
height: 100%;
position: absolute;
backface-visibility: hidden;
}

.front {
background: url('front.png') center/cover;
}

.back {
background: url('back.png') center/cover;
transform: rotateY(180deg);
}
img {
  width: 100%;
  height: auto;
}
.products {

height: calc(100vh - 100px);
margin-top: 130px;
}
