<!-- Start Account Sign In Area -->
<div class="account-login section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
              <form class="card login-form inner-content" method="post">
                  <div class="card-body">
                      <div class="title">
                          <h3>Make your work shine</h3>
                          <p>Need to get more views from our clients? Add a picture of your finished work to be more visible to your clients</p>
                      </div>
                      <div class="input-head">
                          <div class="form-group input-group">
                            <%= simple_form_for @job, method: :patch, class: "form-control" do |f| %>
                            <%= f.input :preview, as: :file %>
                            <div class="button"><%= f.submit "Validate", class:"btn"  %></div>
                            <% end %>

                          </div>
                      </div>


                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- End Account Sign In Area -->
