<div data-controller="interact recap devis">
<!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
            <div class="breadcrumbs-content">
              <h1 class="page-title">Demande de devis</h1>
              <ul class="breadcrumb-nav">
                <li><a href="index.html">Accueil</a></li>
                <li>Demande de devis</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class="button sticky">
      <a id="price" class="btn btn-alt" >Devis : <br> 0 € <i class="lni lni-arrow-right"></i></a>
  </div>    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-12">
            <div class="single-inner">
              <div class="post-details">
                <div class="main-content-head">
                  <div class="post-thumbnils">

                    <div id="clothing" >
                      <div id="logo-zone">
                        <div id="logo"><%= cl_image_tag @order.photo.key %></div>
                      </div>
                      <%= cl_image_tag @catalog.photo.key %>
                    </div>
                  </div>
                  <div class="detail-inner">
                    <h3>Détails techniques</h3>
                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Graphisme</h5>
                      <div class="tags">
                        <a data-action="click->recap#change">Vérification des fichiers</a>
                        <a data-action="click->recap#change">Montage éléments</a>
                        <a data-action="click->recap#change">Graphisme Complet</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Type d'impression</h5>
                      <div class="tags">
                        <a data-action="click->recap#change">Impression directe quadri</a>
                        <a data-action="click->recap#change">Impression directe quadri + vernis mélangé avec encre</a>
                        <a  data-action="click->recap#change">Impression directe quadri + vernis sélectif</a>
                        <a data-action="click->recap#change">Impression directe quadri + blanc</a>
                        <a data-action="click->recap#change">Impression directe quadri + blanc + vernis</a>
                        <a data-action="click->recap#change">Adhésif</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Nombre de faces</h5>
                        <div class="tags">
                          <a  data-action="click->recap#change">Quadri recto</a>
                          <a data-action="click->recap#change">Quadri recto / verso</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Type d'éclairage</h5>
                        <div class="tags">
                          <a  data-action="click->recap#change">Eclairage direct</a>
                          <a data-action="click->recap#change">Eclairage indirect</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title" >Matière</h5>
                        <div class="tags">
                          <a  data-action="click->recap#change">PVC 19 mm</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Type de LED</h5>
                        <div class="tags">
                          <a data-action="click->recap#change">LED à point</a>
                          <a  data-action="click->recap#change">LED 3 points</a>
                          <a data-action="click->recap#change">MiNéon</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Alimentation</h5>
                        <div class="tags">
                          <a data-action="click->recap#change">35 W</a>
                          <a data-action="click->recap#change">60 W</a>
                          <a  data-action="click->recap#change">100 W</a>
                          <a data-action="click->recap#change">200 W</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Interpompier</h5>
                        <div class="tags">
                          <a  data-action="click->recap#change">Avec</a>
                          <a data-action="click->recap#change">Sans</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Découpe</h5>
                        <div class="tags">
                          <a data-action="click->recap#change">Ronde</a>
                          <a  data-action="click->recap#change">Lettre simple</a>
                        </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Fixation lettre</h5>
                        <div class="tags">
                          <a data-action="click->recap#change">Sans</a>
                          <a  class="active">Entretoises + gabaris de pose</a>
                          <a data-action="click->recap#change">Double face + gabaris de pose</a>

                        </div>
                      </div>
                      <!-- End Single Widget -->



                    </div>
                  </div>

                </div>
              </div>
            </div>
            <aside class="col-lg-4 col-md-12 col-12">
              <div class="sidebar">
                <!-- Start Single Widget -->
                <div class="widget search-widget">
                  <h5 class="widget-title">Délai et livraison</h5>
                  Date souhaitée : <br><input type="date" class="mb-2"/><br>
                  Livraison Express: <input id="delivery-type" data-action="change->devis#change" type="checkbox" class="mb-2"> <br>

                </div>
                <!-- Start Single Widget -->
                <div class="widget search-widget">
                  <h5 class="widget-title">Détails du logo</h5>
                  Largeur : <br><input id="logo-width" data-action="change->devis#change" type="text" class="mb-2" placeholder="Largeur du logo ..." disabled/> cm <br>
                  Longeur : <br><input id="logo-height" data-action="change->devis#change" type="text" class="mb-2" placeholder="Longueur du logo ..." disabled> cm <br>
                  Position depuis le haut : <br><input id="logo-x" type="text" class="mb-2" placeholder="Origine x du logo ..." disabled> cm <br>
                  Position depuis la gauche : <br><input id="logo-y" type="text" class="mb-2" placeholder="Origine y du logo ..." disabled> cm <br>

                </div>
              <!-- End Single Widget -->
              <!-- Start Single Widget -->
              <div class="widget search-widget">
                <h5 class="widget-title">Quantité souhaitée et tailles</h5>
                <form action="#">

                  XS<input id="qteXS" type="text" data-action="change->devis#change" width="20px" placeholder="Quantité XS...">
                  S<input id="qteS" data-action="change->devis#change" type="text" placeholder="Quantité S...">
                  M<input id="qteM" data-action="change->devis#change" type="text" placeholder="Quantité M...">
                  L<input id="qteL" data-action="change->devis#change" type="text" placeholder="Quantité L...">
                  XL<input id="qteXL" data-action="change->devis#change" type="text" placeholder="Quantité XL...">
                  XLL<input id="qteXXL" data-action="change->devis#change" type="text" placeholder="Quantité XXL...">


                </form>
              </div>
              <!-- End Single Widget -->

              <!-- Start Single Widget
              <div class="widget categories-widget">
                <h5 class="widget-title">Récap</h5>
                <ul class="custom">
                   <li>
                    <strong>Graphisme :</strong>Vérification Des fichiers</a>
                  </li>
                  <li>
                    <a ><strong>Type d'impression :</strong>Impression Directe Quadri + Vernis Sélectif</a>
                  </li>
                  <li>
                    <a ><strong>Etc :</strong> More blabla</a>
                  </li>
                </ul>
              </div>-->
              <!-- End Single Widget -->
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- End Blog Singel Area -->
</div>

    <style>
      #logo {
        min-width: 50px;
        max-width: calc(100vw - 2rem);
        min-height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        touch-action: none;
        white-space: pre-wrap;
        border-style: solid;
        border-color: black;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }
      #clothing {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        touch-action: none;
        white-space: pre-wrap;
        border-style: solid;
        border-color: black;
      }
      #logo-zone {
        width: 37%;
        height: 47%;
        position: absolute;
        top: 15%;
        right: 32%;
        border: 1px solid;
      }
      div.sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        right: 0;
        width: 120px;
        height: 50px;
        background-color: black;
        color: white;
      }


    </style>
