    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
            <div class="breadcrumbs-content">
              <h1 class="page-title">Demande de devis</h1>
              <ul class="breadcrumb-nav">
                <li><a href="index.html">Accueil</a></li>
                <li>Demande de devis</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-12">
            <div class="single-inner">
              <div class="post-details">
                <div class="main-content-head">
                  <div class="post-thumbnils">

                    <div id="logo" data-controller="interact"><%= image_tag asset_path('testlogo.png') %></div>
                    <div id="clothing" data-controller="interact"><%= image_tag asset_path('hoodie.png') %></div>
                  </div>
                  <div class="detail-inner">
                    <h3>Détails techniques</h3>
                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Graphisme</h5>
                      <div class="tags">
                        <a href="javascript:void(0)" class="active">Vérification des fichiers</a>
                        <a href="javascript:void(0)">Montage éléments</a>
                        <a href="javascript:void(0)">Graphisme Complet</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Type d'impression</h5>
                      <div class="tags">
                        <a href="javascript:void(0)">Impression directe quadri</a>
                        <a href="javascript:void(0)">Impression directe quadri + vernis mélangé avec encre</a>
                        <a href="javascript:void(0)" class="active">Impression directe quadri + vernis sélectif</a>
                        <a href="javascript:void(0)">Impression directe quadri + blanc</a>
                        <a href="javascript:void(0)">Impression directe quadri + blanc + vernis
                        </a>
                        <a href="javascript:void(0)">
                          Adhésif</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Nombre de faces</h5>
                      <div class="tags">
                        <a href="javascript:void(0)" class="active">Quadri recto</a>
                        <a href="javascript:void(0)">Quadri recto / verso</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Type d'éclairage</h5>
                      <div class="tags">
                        <a href="javascript:void(0)" class="active">Eclairage direct</a>
                        <a href="javascript:void(0)">Eclairage indirect</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title" >Matière</h5>
                      <div class="tags">
                        <a href="javascript:void(0)" class="active">PVC 19 mm</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Type de LED</h5>
                      <div class="tags">
                        <a href="javascript:void(0)">LED à point</a>
                        <a href="javascript:void(0)" class="active">LED 3 points</a>
                        <a href="javascript:void(0)">MiNéon</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Alimentation</h5>
                      <div class="tags">
                        <a href="javascript:void(0)">35 W</a>
                        <a href="javascript:void(0)">60 W</a>
                        <a href="javascript:void(0)" class="active">100 W</a>
                        <a href="javascript:void(0)">200 W</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Interpompier</h5>
                      <div class="tags">
                        <a href="javascript:void(0)" class="active">Avec</a>
                        <a href="javascript:void(0)">Sans</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Découpe</h5>
                      <div class="tags">
                        <a href="javascript:void(0)">Ronde</a>
                        <a href="javascript:void(0)" class="active">Lettre simple</a>
                      </div>
                    </div>
                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                      <h5 class="widget-title">Fixation lettre</h5>
                      <div class="tags">
                        <a href="javascript:void(0)">Sans</a>
                        <a href="javascript:void(0)" class="active">Entretoises + gabaris de pose</a>
                        <a href="javascript:void(0)">Double face + gabaris de pose</a>

                      </div>
                    </div>
                    <!-- End Single Widget -->



                  </div>
                </div>

              </div>
            </div>
          </div>
          <aside class="col-lg-4 col-md-12 col-12">
            <div class="sidebar">
              <!-- Start Single Widget -->
              <div class="widget search-widget">
                <h5 class="widget-title">Uploader un logo</h5>
                <form action="#">
                  <input type="text" class="mb-2" placeholder="Logo ...">
                  <input type="text" class="mb-2" placeholder="Largeur du logo ...">
                  <input type="text" class="mb-2" placeholder="Longueur du logo ...">
                  <button type="submit"><i class="lni lni-upload-al"></i></button>
                </form>
              </div>
              <!-- End Single Widget -->
              <!-- Start Single Widget -->
              <div class="widget search-widget">
                <h5 class="widget-title">Uploader un un support</h5>
                <form action="#">
                  <input type="text" class="mb-2" placeholder="Support ...">
                  <input type="text" placeholder="Quantité ...">

                  <button type="submit"><i class="lni lni-upload-al"></i></button>
                </form>
              </div>
              <!-- End Single Widget -->

              <!-- Start Single Widget -->
              <div class="widget categories-widget">
                <h5 class="widget-title">Récap</h5>
                <ul class="custom">
                    <li>
                        <a href="javascript:void(0)"><strong>Graphisme :</strong>Vérification Des fichiers</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><strong>Type d'impression :</strong>Impression Directe Quadri + Vernis Sélectif</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><strong>Etc :</strong> More blabla</a>
                    </li>
                </ul>
            </div>
            <!-- End Single Widget -->
                </div>
                </aside>
              </div>
            </div>
          </section>
          <!-- End Blog Singel Area -->


          <style>
            #logo {
              min-width: 50px;
              max-width: calc(100vw - 2rem);
              min-height: 50px;
              align-items: center;
              justify-content: center;
              border-radius: 0.75rem;
              touch-action: none;
              white-space: pre-wrap;
              border-style: solid;
              border-color: black;
            }
            #clothing {
              display: flex;
              min-width: 100px;
              max-width: calc(100vw - 2rem);
              min-height: 100px;
              align-items: center;
              justify-content: center;
              border-radius: 0.75rem;
              touch-action: none;
              white-space: pre-wrap;
              border-style: solid;
              border-color: black;
            }
          </style>
