    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                  <div class="breadcrumbs-content">
                      <h1 class="page-title">Demander un devis </h1>
                      <ul class="breadcrumb-nav">
                          <li><a href="index.html">Home</a></li>
                          <li>Demander un devis</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Start Account Sign In Area -->
  <div class="account-login section">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                  <div class="card login-form inner-content">
                      <div class="card-body">
                          <div class="title">
                              <h3>Sign In Now</h3>
                              <p>Sign in by entering the information below.</p>
                          </div>
                          <div class="input-head">
                              <div class="form-group input-group">
                                <%= simple_form_for [@catalog, @order] do |f| %>
                                <!-- [...] -->
                                <%= f.input :photo, as: :file %>
                                <!-- [...] -->
                                <%= f.submit  %>

                                <% end %>

                              </div>
                          </div>
                          <div class="button">
                              <button class="btn" type="submit">Sign In</button>
                          </div>
                        </div>
                      </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Account Sign In Area -->
