

<div id="stepper" class="d-flex justify-content-center fixed-top">

  <div id="step1" class="step active">
    <span class="step-text"><i class="fas fa-check"></i></span>
  </div>
  <div class="step-description">Choisissez un modèle</div>



  <div class="connector active"></div>
  <div id="step2" class="step active">
    <span class="step-text"><i class="fas fa-upload"></i></span>
  </div>
  <div class="step-description">Uploadez votre logo</div>


  <div class="connector"></div>
  <div id="step3" class="step">
    <span class="step-text"><i class="fas fa-cogs"></i></span>
  </div>
  <div class="step-description">Paramétrez votre commande</div>
</div>
<!--
  ---------------------------------------
  Section start
  --------------------------------------- -->


  <section class="ticket-section section-padding content">
    <div class="section-overlay"></div>

    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-10 mx-auto">

          <%= simple_form_for [@catalog, @order],html: {class: "custom-form ticket-form mb-5 mb-lg-0"}  do |f| %>
          <h2 class="text-center mb-4">Uploadez votre logo</h2>

          <div class="ticket-form-body">


            <%= f.input :photo, as: :file, class: "form-control" %>
            <h6>Choisissez une face : </h6>

            <div class="row">
              <%= f.input :type_photo, as: :radio_buttons, collection: ['Face', 'Dos'] %>

            <textarea name="ticket-form-message" rows="3" class="form-control"
            id="ticket-form-message" placeholder="Commentaires supplémentaires"></textarea>

            <div class="col-lg-4 col-md-10 col-8 mx-auto">
              <button type="submit" class="form-control">Etape Suivante</button>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </section>
