    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                  <div class="breadcrumbs-content">
                      <h1 class="page-title">Demander un devis </h1>
                      <ul class="breadcrumb-nav">
                          <li><a href="index.html">Home</a></li>
                          <li>Demander un devis</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumbs -->


  <div id="stepper" class="d-flex justify-content-center fixed-top">

        <div id="step1" class="step active">
            <span class="step-text"><i class="fas fa-check"></i></span>
        </div>
        <div class="step-description">Choisissez un modèle</div>



        <div class="connector active"></div>
        <div id="step2" class="step active">
            <span class="step-text"><i class="fas fa-upload"></i></span>
        </div>
        <div class="step-description">Uploaddez votre logo</div>


        <div class="connector"></div>
        <div id="step3" class="step">
            <span class="step-text"><i class="fas fa-cogs"></i></span>
        </div>
        <div class="step-description">Paramétrez votre commande</div>
    </div>


  <div id="content">
    <!-- Start Account Sign In Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="card login-form inner-content">
                        <div class="card-body">
                            <div class="title">
                                <h3>Choisir un logo</h3>
                                <p>Uploader l'image de votre logo pour procéder à l'étape suivante</p>
                            </div>
                            <div class="input-head">
                                <div class="form-group input-group">
                                  <%= simple_form_for [@catalog, @order] do |f| %>
                                  <!-- [...] -->
                                  <%= f.input :photo, as: :file %>
                                  <!-- [...] -->
                                  <%= f.submit %>

                                  <% end %>

                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Upload</button>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Sign In Area -->
  </div>

