                    <div class="products">

<%5.times do %>

    <div class="shirt-card">
        <div class="shirt-header">
            <div class="shirt-infos">
                <p class="pf_title_product">
                    <a href="/clique/premium-oc-roundneck/noir.html">Premium OC Roundneck</a>
                </p>
            </div>
        </div>
        <div class="shirt-image">
            <a href="/clique/premium-oc-roundneck/noir.html"><img async="" onerror="this.onerror=null;this.src='/images/not-available.png';" src="https://lh3.googleusercontent.com/HfWfhObA1ZJWeOdvDCfCLF8H-DWHiSUJe09Sl1WCZ3HhDvX6n4f-Hg2Yza-Hl0HI2piw4DyPH7CrZ6dGdt8JkPYdFRkQKo8mRwzzwffSShdg=w260-rw" alt="Premium OC Roundneck"></a>
            <div class=" center_image" style="display: none;">
                <span class="material-icons">done</span>
            </div>
        </div>
</div>


<%end%>
                        </div>

