<!-- Start Contact Area -->
    <div class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="contact-widget-wrapper">
                        <div class="main-title">
                            <h2>Contact Us</h2>
                            <p>Please leave a message, Our support teams will get back to you as soon as possible.</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">Call us</h3>
                            <p>+212-394-409-591</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">Email us</h3>
                            <p>info@mail.com</p>
                            <p>support@mail.com</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">Our Address</h3>
                            <p>200, Roudani</p>
                            <p>Casablanca, Morocco</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <h3 class="form-title">Leave a message here</h3>
                        <form class="form" method="post" action="assets/mail/mail.php">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <input name="name" type="text" placeholder="Name*" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <input name="email" type="email" placeholder="Email*" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <input name="subject" type="text" placeholder="Subject*" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <input name="phone" type="text" placeholder="Phone*" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea placeholder="Message*" name="message" id="message-area"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button">
                                        <button type="submit" class="btn ">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
