<!-- Start Breadcrumbs -->
 <div class="breadcrumbs">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
              <div class="breadcrumbs-content">

              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Breadcrumbs -->


<!-- Start dash Admin Area -->

<section class="dash section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Dashboard d'administrateur</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Listes des ordres</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s"></p>
        </div>
      </div>
    </div>

    <div class="row">
            <div class="col-lg-9 col-md-6 col-6">
                <div class="accordion" id="accordionExample">
                    <!-- Ene attente de devis -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                              <pre class="title">Titre...                     Client                     Status</pre>
                              <i class="lni lni-plus"></i>
                          </button>
                      </h2>


                      <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                          data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                                <!--here-->

                          <div class="d-flex flex-row-reverse m-2">
                            <a href="#" class="btn btn-danger">Refuser</a>
                            <a href="#" class="btn btn-success mx-4">Accepter</a>
                          </div>


                          <div class="row">
                            <div class="col-sm-8">
                              <div class="card">
                                <div class="card-body">
                                  <div class="sc-fde092b2-0 cHmBBd product-detail-content">
                                        <h5>Récapitulatif</h5>
                                      <div id="publicblock" class="sc-fde092b2-0 cHmBBd">
                                        <div class="CatstockQuotation">
                                          <div class="csqm-product-blocpublic">
                                            <div class="CsPublicBox">
                                              <div class="cspub-title">Lettre découpée lumineuse</div>
                                                <div class="cspub-declinations">
                                                  <ul>
                                                    <li><b>Graphisme</b> : Vérification fichiers</li>
                                                    <li><b>Type d'impression</b> : Impression directe quadri</li>
                                                    <li><b>Nombre de faces</b> : Quadri recto</li>
                                                    <li><b>Type d'éclairage</b> : Eclairage direct </li>
                                                    <li><b>Matière</b> : PVC 19 mm</li
                                                    ><li><b>Type de LED</b> : LED à point</li>
                                                    <li><b>Alimentation</b> : Alimentation 35w</li>
                                                    <li><b>Interpompier</b> : Sans</li>
                                                    <li><b>Découpe</b> : Ronde</li>
                                                    <li><b>Fixation lettre</b> : Sans</li>
                                                  </ul>
                                                </div>
                                                <div class="cspub-calc-projects">
                                                  <div>
                                                    <label><b>Projet 1</b> - 1000 x 1000 mm</label>
                                                    <br>Quantité 1 - Surface : 1 m²
                                                  </div>
                                                </div>
                                                <div class="cspub-calc-price">
                                                  <div>
                                                    <span class="cspub-calc-price-exctax">645.01 € ht</span> - <span class="cspub-calc-price-inctax">774.01 € ttc</span></div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <div class="card">
                                <div class="card-body">
                                  <div class="image wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <img src="https://via.placeholder.com/210x300" alt="#">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>
                    </div>
                </div>
            </div>
    </div><br>
  </div>
</section>

<!--/ End dash Admin Area -->
